In [1]:
import pandas as pd
orders_ship = pd.read_csv("data/orders_and_shipments.csv")
fulfil = pd.read_csv("data/fulfillment.csv")
inventory = pd.read_csv('data/inventory.csv')


orders_ship.head(3)

,Order ID,Order Item ID,Order YearMonth,Order Year,Order Month,Order Day,Order Time,Order Quantity,Product Department,Product Category,...,Customer Country,Warehouse Country,Shipment Year,Shipment Month,Shipment Day,Shipment Mode,Shipment Days - Scheduled,Gross Sales,Discount %,Profit
0,3535,8793,201502,2015,2,21,14:07,1,Fan Shop,Fishing,...,Mexico,Puerto Rico,2015,2,27,Standard Class,4,400,0.25,200
1,4133,10320,201503,2015,3,2,07:37,1,Fan Shop,Fishing,...,Brazil,Puerto Rico,2015,3,6,Standard Class,4,400,0.09,200
2,7396,18517,201504,2015,4,18,22:47,1,Fan Shop,Fishing,...,Mexico,Puerto Rico,2015,4,20,Standard Class,4,400,0.06,200

In [2]:
orders_ship.columns

Index(['Order ID ', ' Order Item ID ', ' Order YearMonth ', ' Order Year ',
       ' Order Month ', ' Order Day ', 'Order Time', 'Order Quantity',
       'Product Department', 'Product Category', 'Product Name',
       ' Customer ID ', 'Customer Market', 'Customer Region',
       'Customer Country', 'Warehouse Country', 'Shipment Year',
       'Shipment Month', 'Shipment Day', 'Shipment Mode',
       ' Shipment Days - Scheduled ', ' Gross Sales ', ' Discount % ',
       ' Profit '],
      dtype='object')

In [3]:
fulfil.columns

Index(['Product Name', ' Warehouse Order Fulfillment (days) '], dtype='object')

In [4]:
inventory.columns

Index(['Product Name', ' Year Month ', ' Warehouse Inventory ',
       'Inventory Cost Per Unit'],
      dtype='object')

In [5]:
orders_ship.columns = orders_ship .columns.str.strip()
print(orders_ship.columns)

Index(['Order ID', 'Order Item ID', 'Order YearMonth', 'Order Year',
       'Order Month', 'Order Day', 'Order Time', 'Order Quantity',
       'Product Department', 'Product Category', 'Product Name', 'Customer ID',
       'Customer Market', 'Customer Region', 'Customer Country',
       'Warehouse Country', 'Shipment Year', 'Shipment Month', 'Shipment Day',
       'Shipment Mode', 'Shipment Days - Scheduled', 'Gross Sales',
       'Discount %', 'Profit'],
      dtype='object')

In [6]:
fulfil.columns = fulfil.columns.str.strip()
print(fulfil.columns)

Index(['Product Name', 'Warehouse Order Fulfillment (days)'], dtype='object')

In [7]:
inventory.columns = inventory.columns.str.strip()
print(inventory.columns)

Index(['Product Name', 'Year Month', 'Warehouse Inventory',
       'Inventory Cost Per Unit'],
      dtype='object')

In [8]:
fulfil.head(3)

                           Product Name  Warehouse Order Fulfillment (days)
0      Perfect Fitness Perfect Rip Deck                                 8.3
1  Nike Men's Dri-FIT Victory Golf Polo                                 6.6
2      O'Brien Men's Neoprene Life Vest                                 5.5

In [9]:
def date_time(df, day_col, month_col, year_col, col_name):
    temp_df = df[[year_col, month_col, day_col]].rename(columns={year_col: 'year', month_col: 'month', day_col: 'day'})
    df[col_name] = pd.to_datetime(temp_df)

In [10]:
date_time(orders_ship, 'Order Day','Order Month', 'Order Year','Date_of_Order')

In [11]:
date_time(orders_ship, 'Shipment Day','Shipment Month', 'Shipment Year','Date_of_ship')

In [12]:
orders_ship.isna().sum()

Order ID                     0
Order Item ID                0
Order YearMonth              0
Order Year                   0
Order Month                  0
Order Day                    0
Order Time                   0
Order Quantity               0
Product Department           0
Product Category             0
Product Name                 0
Customer ID                  0
Customer Market              0
Customer Region              0
Customer Country             0
Warehouse Country            0
Shipment Year                0
Shipment Month               0
Shipment Day                 0
Shipment Mode                0
Shipment Days - Scheduled    0
Gross Sales                  0
Discount %                   0
Profit                       0
Date_of_Order                0
Date_of_ship                 0
dtype: int64

In [13]:
orders_ship['Discount %'].unique()

array(['0.25', '0.09', '0.06', '0.15', '0.13', '0.16', '0.12', '0.04',
       '0.02', '0.05', '0.01', '0.07', '0.18', '0.1', '0.03', '0.17',
       '  -  ', '0.2'], dtype=object)

In [14]:
orders_ship['Discount %'] = orders_ship['Discount %'].replace('  -  ', 0).astype(float)

In [15]:
del orders_ship['Order Year']
del orders_ship['Order Month']
del orders_ship['Order Day']
del orders_ship['Shipment Year']
del orders_ship['Shipment Month']
del orders_ship['Shipment Day']

In [16]:
orders_ship['Order Processing Time'] = (orders_ship['Date_of_ship'] - orders_ship['Date_of_Order']).dt.days

orders_ship = orders_ship[orders_ship['Order Processing Time'] >= 0]


orders_ship.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 28136 entries, 0 to 30870
Data columns (total 21 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Order ID                   28136 non-null  int64
 1   Order Item ID              28136 non-null  int64
 2   Order YearMonth            28136 non-null  int64
 3   Order Time                 28136 non-null  object
 4   Order Quantity             28136 non-null  int64
 5   Product Department         28136 non-null  object
 6   Product Category           28136 non-null  object
 7   Product Name               28136 non-null  object
 8   Customer ID                28136 non-null  int64
 9   Customer Market            28136 non-null  object
 10  Customer Region            28136 non-null  object
 11  Customer Country           28136 non-null  object
 12  Warehouse Country          28136 non-null  object
 13  Shipment Mode              28136 non-null  object
 14  Shipment Days - Scheduled  28136 non-null  int64
 15  Gross Sales                28136 non-null  int64
 16  Discount %                 28136 non-null  float64
 17  Profit                     28136 non-null  int64
 18  Date_of_Order              28136 non-null  datetime64[ns]
 19  Date_of_ship               28136 non-null  datetime64[ns]
 20  Order Processing Time      28136 non-null  int64
dtypes: datetime64[ns](2), float64(1), int64(9), object(9)
memory usage: 4.7+ MB

In [17]:
orders_ship['Customer Country'].unique()

array(['Mexico', 'Brazil', 'Denmark', 'Netherlands', 'Germany', 'China',
       'Indonesia', 'Pakistan', 'India', 'USA', 'Hungary', 'Sudan',
       'Democratic Republic of Congo', 'Poland', 'Togo', 'Guatemala',
       'Panama', 'Chile', 'France', 'Sweden', 'Dominicanï¿½Republic',
       'Venezuela', 'South Korea', 'Madagascar', 'Iran', 'Cuba',
       'Nicaragua', 'United Kingdom', 'Afghanistan', 'Singapore',
       'Morocco', 'Spain', 'Niger', 'Turkey', 'South Africa', 'Iraq',
       'Honduras', 'Italy', 'Australia', 'Cote dï¿½Ivoire', 'Croatia',
       'Ecuador', 'Syria', 'Haiti', 'Bangladesh', 'Argentina', 'Romania',
       'El Salvador', 'Vietnam', 'Japan', 'Nigeria', 'Belarus',
       'Uzbekistan', 'Egypt', 'Albania', 'Georgia', 'Cameroon',
       'Colombia', 'New zealand', 'Thailand', 'Senegal', 'Perï¿½',
       'Ukraine', 'Canada', 'Belgium', 'Philippines', 'Austria',
       'Uruguay', 'Malaysia', 'Hong Kong', 'Algeriaï¿½', 'Saudi Arabia',
       'Russia', 'Switzerland', 'Ireland', 'Bulgaria', 'Zambia',
       'Jamaica', 'Ghana', 'Yemen', 'Norway', 'Tanzania', 'Kazakhstan',
       'Libya', 'Trinidad and Tobago', 'Finland', 'Portugal', 'Kenya',
       'Jordania', 'Bolivia', 'Gabon', 'Angola', 'Myanmar', 'Mali', 'UAE',
       'Bosnia and Herzegovina', 'Guinea', 'Cambodia', 'Papua New Guinea',
       'Rwanda', 'Israelï¿½', 'Guyana', 'Barbados', 'Somalia', 'Guadalupe',
       'Benï¿½n', 'Tunisia', 'Kyrgyzstan', 'Lithuania', 'Montenegro',
       'Costa Rica', 'Mozambique', 'Sri Lanka', 'Taiwan',
       'Czech Republic (Czechia)', 'Lesotho', 'Mongolia', 'Macedonia',
       'Liberia', 'Liban', 'Guinea-Bissau', 'Estonia', 'Azerbaijan',
       'Moldova', 'Republic of Congo', 'Gambia', 'Mauritania', 'Zimbabwe',
       'Belize', 'Qatar', 'Sierra Leona', 'Slovakia', 'Martinique',
       'Uganda', 'Namibia', 'Paraguay', 'Oman', 'French Guiana', 'Nepal'],
      dtype=object)

In [18]:
import pandas as pd


orders_ship['Customer Country'] = orders_ship['Customer Country'].replace({
    'Cote d\x92Ivoire': "Cote d'Ivoire",  
    'Per\xfa': 'Peru',
    'Ben\xedn': 'Benin'
}, regex=True)

orders_ship['Customer Country'] = orders_ship['Customer Country'].str.replace(r'\xa0', ' ', regex=True)
orders_ship['Customer Country'] = orders_ship['Customer Country'].str.replace(r'[^\x00-\x7F]+', '', regex=True)

orders_ship['Customer Country'] = orders_ship['Customer Country'].str.strip()

orders_ship['Customer Country'] = orders_ship['Customer Country'].replace({
    'Dominicanï¿½Republic': 'Dominican Republic',
    'Cote dï¿½Ivoire': "Cote d'Ivoire",
    'Perï¿½': 'Peru',
    'Algeriaï¿½': 'Algeria',
    'Israelï¿½': 'Israel',
    'Benï¿½n': 'Benin'
})

print(orders_ship['Customer Country'].unique())

['Mexico' 'Brazil' 'Denmark' 'Netherlands' 'Germany' 'China' 'Indonesia'
 'Pakistan' 'India' 'USA' 'Hungary' 'Sudan' 'Democratic Republic of Congo'
 'Poland' 'Togo' 'Guatemala' 'Panama' 'Chile' 'France' 'Sweden'
 'DominicanRepublic' 'Venezuela' 'South Korea' 'Madagascar' 'Iran' 'Cuba'
 'Nicaragua' 'United Kingdom' 'Afghanistan' 'Singapore' 'Morocco' 'Spain'
 'Niger' 'Turkey' 'South Africa' 'Iraq' 'Honduras' 'Italy' 'Australia'
 'Cote dIvoire' 'Croatia' 'Ecuador' 'Syria' 'Haiti' 'Bangladesh'
 'Argentina' 'Romania' 'El Salvador' 'Vietnam' 'Japan' 'Nigeria' 'Belarus'
 'Uzbekistan' 'Egypt' 'Albania' 'Georgia' 'Cameroon' 'Colombia'
 'New zealand' 'Thailand' 'Senegal' 'Per' 'Ukraine' 'Canada' 'Belgium'
 'Philippines' 'Austria' 'Uruguay' 'Malaysia' 'Hong Kong' 'Algeria'
 'Saudi Arabia' 'Russia' 'Switzerland' 'Ireland' 'Bulgaria' 'Zambia'
 'Jamaica' 'Ghana' 'Yemen' 'Norway' 'Tanzania' 'Kazakhstan' 'Libya'
 'Trinidad and Tobago' 'Finland' 'Portugal' 'Kenya' 'Jordania' 'Bolivia'
 'Gabon' 'Angola' 'Myanmar' 'Mali' 'UAE' 'Bosnia and Herzegovina' 'Guinea'
 'Cambodia' 'Papua New Guinea' 'Rwanda' 'Israel' 'Guyana' 'Barbados'
 'Somalia' 'Guadalupe' 'Benn' 'Tunisia' 'Kyrgyzstan' 'Lithuania'
 'Montenegro' 'Costa Rica' 'Mozambique' 'Sri Lanka' 'Taiwan'
 'Czech Republic (Czechia)' 'Lesotho' 'Mongolia' 'Macedonia' 'Liberia'
 'Liban' 'Guinea-Bissau' 'Estonia' 'Azerbaijan' 'Moldova'
 'Republic of Congo' 'Gambia' 'Mauritania' 'Zimbabwe' 'Belize' 'Qatar'
 'Sierra Leona' 'Slovakia' 'Martinique' 'Uganda' 'Namibia' 'Paraguay'
 'Oman' 'French Guiana' 'Nepal']

In [19]:
orders_ship.to_csv('orders_and_shipment_new.csv', index=False)
inventory.to_csv('inventory_new.csv', index=False)
fulfil.to_csv('fulfillment_new.csv', index=False)

In [20]:
orders_ship['Date_of_Order'].max()

Timestamp('2017-12-30 00:00:00')

In [21]:
inv = pd.read_csv('inventory_new.csv')
inv.head(5)

,Product Name,Year Month,Warehouse Inventory,Inventory Cost Per Unit
0,Perfect Fitness Perfect Rip Deck,201712,0,0.69517
1,Nike Men's Dri-FIT Victory Golf Polo,201712,2,1.29291
2,O'Brien Men's Neoprene Life Vest,201712,0,0.56531
3,Nike Men's Free 5.0+ Running Shoe,201712,1,1.26321
4,Under Armour Girls' Toddler Spine Surge Runni,201712,0,1.47648

In [22]:
ful = pd.read_csv('fulfillment_new.csv')
ful.head(5)

,Product Name,Warehouse Order Fulfillment (days)
0,Perfect Fitness Perfect Rip Deck,8.3
1,Nike Men's Dri-FIT Victory Golf Polo,6.6
2,O'Brien Men's Neoprene Life Vest,5.5
3,Nike Men's Free 5.0+ Running Shoe,9.4
4,Under Armour Girls' Toddler Spine Surge Runni,6.3

In [23]:
orders_ship.head(5)

,Order ID,Order Item ID,Order YearMonth,Order Time,Order Quantity,Product Department,Product Category,Product Name,Customer ID,Customer Market,...,Customer Country,Warehouse Country,Shipment Mode,Shipment Days - Scheduled,Gross Sales,Discount %,Profit,Date_of_Order,Date_of_ship,Order Processing Time
0,3535,8793,201502,14:07,1,Fan Shop,Fishing,Field & Stream Sportsman 16 Gun Fire Safe,7840,LATAM,...,Mexico,Puerto Rico,Standard Class,4,400,0.25,200,2015-02-21,2015-02-27,6
1,4133,10320,201503,07:37,1,Fan Shop,Fishing,Field & Stream Sportsman 16 Gun Fire Safe,1203,LATAM,...,Brazil,Puerto Rico,Standard Class,4,400,0.09,200,2015-03-02,2015-03-06,4
2,7396,18517,201504,22:47,1,Fan Shop,Fishing,Field & Stream Sportsman 16 Gun Fire Safe,10866,LATAM,...,Mexico,Puerto Rico,Standard Class,4,400,0.06,200,2015-04-18,2015-04-20,2
3,11026,27608,201506,22:32,1,Fan Shop,Fishing,Field & Stream Sportsman 16 Gun Fire Safe,3576,Europe,...,Denmark,Puerto Rico,Standard Class,4,400,0.15,200,2015-06-10,2015-06-12,2
4,11026,27609,201506,22:32,1,Fan Shop,Fishing,Field & Stream Sportsman 16 Gun Fire Safe,3576,Europe,...,Denmark,Puerto Rico,Standard Class,4,400,0.13,200,2015-06-10,2015-06-12,2

In [24]:
orders_ship['Shipment Days - Scheduled']

0        4
1        4
2        4
3        4
4        4
        ..
30866    4
30867    4
30868    2
30869    2
30870    1
Name: Shipment Days - Scheduled, Length: 28136, dtype: int64

In [28]:
inv = pd.read_csv('inventory_new.csv')
inv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4200 entries, 0 to 4199
Data columns (total 4 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Product Name             4200 non-null   object
 1   Year Month               4200 non-null   int64
 2   Warehouse Inventory      4200 non-null   int64
 3   Inventory Cost Per Unit  4200 non-null   float64
dtypes: float64(1), int64(2), object(1)
memory usage: 131.4+ KB

In [37]:
import pandas as pd

# Assuming orders_df and inventory_df have been loaded appropriately

# Convert 'Order YearMonth' to a uniform string format if necessary
orders_ship['Order YearMonth'] = orders_ship['Order YearMonth'].astype(str)

# Aggregating order quantities by 'Product Name' and 'Order YearMonth'
order_agg = orders_ship.groupby(['Product Name', 'Order YearMonth'])['Order Quantity'].sum().reset_index()

In [38]:
# Ensure 'Year Month' in inventory_df is in the same format as in orders_df
inv['Year Month'] = inv['Year Month'].astype(str)

# Merging aggregated order data with inventory data
merged_df = pd.merge(order_agg, inv, left_on=['Product Name', 'Order YearMonth'], right_on=['Product Name', 'Year Month'], how='outer')

# Fill missing values which might indicate no inventory or no orders with zeros
merged_df.fillna(0, inplace=True)

In [39]:
merged_df.head(40)

,Product Name,Order YearMonth,Order Quantity,Year Month,Warehouse Inventory,Inventory Cost Per Unit
0,Adult dog supplies,201602,2.0,201602,3,1.04277
1,Adult dog supplies,201603,1.0,201603,2,0.67643
2,Adult dog supplies,201711,17.0,201711,19,2.29154
3,Adult dog supplies,201712,32.0,201712,2,2.07928
4,Baby sweater,201508,3.0,201508,4,1.27268
5,Baby sweater,201509,1.0,201509,1,0.28342
6,Baby sweater,201709,1.0,201709,1,1.29588
7,Baby sweater,201710,17.0,201710,27,1.52727
8,Baby sweater,201711,3.0,201711,10,0.30632
9,Bag Boy Beverage Holder,201501,13.0,201501,17,1.77660
10,Bag Boy Beverage Holder,201502,6.0,201502,0,0.89859
11,Bag Boy Beverage Holder,201503,17.0,201503,26,0.24919
12,Bag Boy Beverage Holder,201504,5.0,201504,9,1.36254
13,Bag Boy Beverage Holder,201505,5.0,201505,2,0.31458
14,Bag Boy Beverage Holder,201506,1.0,201506,1,1.30239
15,Bag Boy Beverage Holder,201508,3.0,201508,2,1.20987
16,Bag Boy Beverage Holder,201509,4.0,201509,6,1.25379
17,Bag Boy Beverage Holder,201510,8.0,201510,1,1.53973
18,Bag Boy Beverage Holder,201511,4.0,201511,3,1.29615
19,Bag Boy Beverage Holder,201512,9.0,201512,15,1.65472
20,Bag Boy Beverage Holder,201601,5.0,201601,6,1.51793
21,Bag Boy Beverage Holder,201602,9.0,201602,8,0.70249
22,Bag Boy Beverage Holder,201603,4.0,201603,5,1.45730
23,Bag Boy Beverage Holder,201604,5.0,201604,8,1.85035
24,Bag Boy Beverage Holder,201605,10.0,201605,5,1.91926
25,Bag Boy Beverage Holder,201606,11.0,201606,6,1.12419
26,Bag Boy Beverage Holder,201607,6.0,201607,12,2.33220
27,Bag Boy Beverage Holder,201609,4.0,201609,8,1.83190
28,Bag Boy Beverage Holder,201610,6.0,201610,2,1.07873
29,Bag Boy Beverage Holder,201612,2.0,201612,0,1.65921
30,Bag Boy Beverage Holder,201702,4.0,201702,0,1.26168
31,Bag Boy Beverage Holder,201703,6.0,201703,11,1.19313
32,Bag Boy Beverage Holder,201706,1.0,201706,0,1.76056
33,Bag Boy Beverage Holder,201709,1.0,201709,1,0.60164
34,Bag Boy M330 Push Cart,201502,3.0,201502,2,1.68740
35,Bag Boy M330 Push Cart,201703,5.0,201703,9,1.76986
36,Bag Boy M330 Push Cart,201704,4.0,201704,6,2.15868
37,Bag Boy M330 Push Cart,201705,8.0,201705,8,0.70674
38,Bag Boy M330 Push Cart,201706,3.0,201706,0,1.69131
39,Bag Boy M330 Push Cart,201708,5.0,201708,2,1.05887

In [40]:

merged_df['Inventory to Sales Delta'] = merged_df['Warehouse Inventory'] - merged_df['Order Quantity']

In [41]:

merged_df.to_csv('inventory_sales_delta.csv', index=False)

In [44]:
merged_df.head(20)

,Product Name,Order YearMonth,Order Quantity,Year Month,Warehouse Inventory,Inventory Cost Per Unit,Inventory to Sales Delta
0,Adult dog supplies,201602,2.0,201602,3,1.04277,1.0
1,Adult dog supplies,201603,1.0,201603,2,0.67643,1.0
2,Adult dog supplies,201711,17.0,201711,19,2.29154,2.0
3,Adult dog supplies,201712,32.0,201712,2,2.07928,-30.0
4,Baby sweater,201508,3.0,201508,4,1.27268,1.0
5,Baby sweater,201509,1.0,201509,1,0.28342,0.0
6,Baby sweater,201709,1.0,201709,1,1.29588,0.0
7,Baby sweater,201710,17.0,201710,27,1.52727,10.0
8,Baby sweater,201711,3.0,201711,10,0.30632,7.0
9,Bag Boy Beverage Holder,201501,13.0,201501,17,1.77660,4.0
10,Bag Boy Beverage Holder,201502,6.0,201502,0,0.89859,-6.0
11,Bag Boy Beverage Holder,201503,17.0,201503,26,0.24919,9.0
12,Bag Boy Beverage Holder,201504,5.0,201504,9,1.36254,4.0
13,Bag Boy Beverage Holder,201505,5.0,201505,2,0.31458,-3.0
14,Bag Boy Beverage Holder,201506,1.0,201506,1,1.30239,0.0
15,Bag Boy Beverage Holder,201508,3.0,201508,2,1.20987,-1.0
16,Bag Boy Beverage Holder,201509,4.0,201509,6,1.25379,2.0
17,Bag Boy Beverage Holder,201510,8.0,201510,1,1.53973,-7.0
18,Bag Boy Beverage Holder,201511,4.0,201511,3,1.29615,-1.0
19,Bag Boy Beverage Holder,201512,9.0,201512,15,1.65472,6.0